.row {
  margin-left: 20px;
  color: whitesmoke;
}

.row > h1 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 120px;
  margin-right: 10px;
  transition: transform 300ms;
  border-radius: 3px;
}

.row__posterLarge {
  max-height: 300px;
  padding: 20px 0 0 0;
  /*t-r-b-l*/
}

.row__poster:hover {
  transform: scale(1.25);
}

.row__posterLarge:hover {
  transform: scale(1.1);
}

.img-title {
  margin-top: -3rem;
  margin-left: 1rem;
}
.img-title__large {
  margin-top: -6rem;
  margin-left: 1rem;
  font-size: 1.2rem;
}
