.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  /* padding: 20px 20px; */
  padding: 20px 20px 0 0;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 120px;
  margin-right: 10px;
  transition: transform 300ms;
  border-radius: 3px;
}

.row__posterLarge {
  max-height: 300px;
  /* padding: 20px 0 0 0; */
  /*t-r-b-l*/
}
